{% extends 'base.twig' %}

{% block content %}

<h2>Admin section</h2>

{% if users %}
    <table>
    <tr>
        <th>Id</th>
        <th>Username</th>
        <th>Delete user</th>
        <th>Set Doctor</th>
        <th>Remove Doctor</th>
        <th>Role</th>
    </tr>
    {% for user in users %}
        <tr>
            <td>{{ user.userid }}</td>
            <td><a href="/user/{{ user.username }}">{{ user.username }}</a></td>
            <td><a href="/admin/delete/{{ user.username }}">Delete this user</a></td>
            <td><a href="/admin/setDoc/{{ user.username }}">Set Doctor</a></td>
            <td><a href="/admin/removeDoc/{{ user.username }}">Remove Doctor</a></td>
            <td>{{ user.role }}</td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    The users table is empty.
{% endif %}

{% if posts %}
    <table>
        <tr>
            <th> Id</th>
            <th> Title</th>
            <th> Paid</th>
        </tr>
        {% for post in posts %}
        <tr>
            <td><a href="/posts/{{ post.postid }}">{{ post.title }}</a></td>
            <td><a href="/admin/delete/post/{{ post.postid }}">Delete this post</a></td>
            <td>{{ post.paydoc }}</td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    There are no posts
{% endif %}

{% endblock %}
