{% extends 'base.twig' %}

{% block content %}


    {% if Doc %}
    	<h2>Only shows paid posts</h2>
    	{% for post in posts %}
	    	{% if post.paydoc == '1' %}
		        {% if post.ansbydoc == '1' %}
	    			<div class="post postdoc">
			            <a href="/posts/{{ post.postId }}">{{ post.title}}</a> by  <a href="/user/{{ post.author }}"> {{ post.author }}</a>. Posted on {{ post.date }}. A doctor has answered this post.
			        </div>
	    		{% else %}	
	    			<div class="post">
			            <a href="/posts/{{ post.postId }}">{{ post.title}}</a> by  <a href="/user/{{ post.author }}"> {{ post.author }}</a>. Posted on {{ post.date }}
			        </div>
	    		{% endif %}
		    {% endif %}
	    {% else %}
	        There are no posts as of yet
	    {% endfor %}

    {% else %}
    	<h2>Posts</h2>
    	{% for post in posts %}
    		
    		{% if post.ansbydoc == '1' %}
    			<div class="post postdoc">
		            <a href="/posts/{{ post.postId }}">{{ post.title}}</a> by  <a href="/user/{{ post.author }}"> {{ post.author }}</a>. Posted on {{ post.date }}. A doctor has answered this post.
		        </div>
    		{% else %}	
    			<div class="post">
		            <a href="/posts/{{ post.postId }}">{{ post.title}}</a> by  <a href="/user/{{ post.author }}"> {{ post.author }}</a>. Posted on {{ post.date }}
		        </div>
    		{% endif %}


	    {% else %}
	        There are no posts as of yet
	    {% endfor %}
    {% endif %}


{% endblock %}
